---
// @ts-ignore
import { Icon } from "astro-icon/components";

const features = [
  {
    title: "Videos Educativos",
    description: "Videos cortos y atractivos que cubren conceptos fundamentales en startups y tecnología.",
    icon: "bx:bxs-videos",
  },
  {
    title: "Entrevistas con Expertos",
    description: "Conversaciones con emprendedores exitosos y expertos de la industria para proporcionar conocimientos del mundo real.",
    icon: "bx:bxs-user-voice",
  },
  {
    title: "Módulos Interactivos",
    description: "Actividades y proyectos prácticos que permiten a los estudiantes aplicar lo aprendido.",
    icon: "bx:bxs-edit-alt",
  }
];
---

<section class="features py-16">
  <div class="container mx-auto">
    <h2 class="text-4xl font-bold text-center mb-8">Características de Holi.phant</h2>
    <div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
      {features.map((feature) => (
        <div class="flex gap-4 items-start">
          <div class="mt-1 bg-black rounded-full p-2 w-8 h-8 shrink-0">
            <Icon class="text-white" name={feature.icon} />
          </div>
          <div>
            <h3 class="font-semibold text-lg">{feature.title}</h3>
            <p class="text-slate-500 mt-2 leading-relaxed">{feature.description}</p>
          </div>
        </div>
      ))}
    </div>
  </div>
</section>

<style>
.features {
  background-color: var(--color-background-alt);
}
</style>
