<footer class="my-20">
  <p class="text-center text-sm text-slate-500">
    Copyright © {new Date().getFullYear()} Holi.phant. All rights reserved.
  </p>
  <p class="text-center text-xs text-slate-500 mt-1">
    Hecho por <a
      href="https://heylink.me/jxelektro/"
      target="_blank"
      rel="noopener"
      class="hover:underline">
      JxElektro
    </a>
  </p>
</footer>

<style>
footer {
  background-color: var(--color-background-alt);
  padding: 1rem;
}
footer p {
  margin: 0;
}
footer a {
  color: inherit;
  text-decoration: underline;
}
</style>
