---
import heroImage from "../assets/holi.png"; // Asegúrate de que esta ruta es correcta
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";

// Extraer la URL de la imagen de los metadatos
const imageUrl = heroImage.src;
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <img src={imageUrl} alt="Imagen de Holi.phant" class="w-full h-auto" />
  </div>
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">
      Bienvenido a Holi.phant
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">
      Holi.phant es una plataforma innovadora diseñada para enseñar a los jóvenes sobre startups y tecnología. Aprende de manera divertida y práctica.
    </p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="/contact"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />
        Regístrate Ahora
      </Link>
      <!--
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="/about"
        class="flex gap-1 items-center justify-center">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
        Aprende Más
      </Link>
      -->
    </div>
  </div>
</main>
